.footer {
    background-color: lightgray;
    padding: 20px;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
  }
  
.footer-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}

.footer-icon {
  color: white;
  margin: 0 8px; /* Aumenta o disminuye este valor para ajustar la separación */
  height: 20px;
}
  
  .myPhoto {
    width: 150px;
  }
  
  .myText {
    font-size: 17px;
    font-family: "Chivo","Raleway", sans-serif;
    margin-bottom: 0;
    font-weight: 150;
  }
.myIcon{
  font-size: 12px;
}