<footer class="footer" style="margin-top: 150px;">
    <div class="footer-content">
      <div class="footer-text" >
        <h1 class="myText">info@terraz.com.ar +54 9 3413 816505</h1>
      </div>
      <div class="footer-text">
        <h1 class="myText">AV. Carballo 183, Edificio ribera. Puerto Norte, Rosario.</h1>
      </div>
      <div class="footer-icons">
        <a href="" class="footer-icon myIcon"><i class="bi bi-facebook"></i></a>
        <a href="" class="footer-icon myIcon"><i class="bi bi-instagram"></i></a>
        <a href="" class="footer-icon myIcon"><i class="bi bi-whatsapp"></i></a>
      </div>
    </div>
</footer>