.footer {
  background-color: lightgray;
  padding: 20px;
}

.footer-text{
  width: 100%;
}

.footer-terraz-img{
  width: 180px;
  margin-bottom: 20px;
}

.footer-content {
  display: flex;
  text-align: center;
  flex-wrap: wrap;
}

.footer-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}

.footer-icon {
  color: white;
  margin: 0 8px; 
  height: 20px;
}

.myPhoto {
  width: 150px;
}

.myText {
  font-size: 17px;
  font-family: "Poppins-Light";
  margin-bottom: 0;
  font-weight: 150;
}

.myIcon{
  font-size: 12px;
}