<section id="about" class="section section--media mt-10">
  <div class="content">
    <div class="nuestrosProductos">
      <div class="divTitle">
        <h2>
          <span class="title" data-aos="fade-right">{{ titulo }}</span>
        </h2>
      </div>

      <div class="media-img">
        <img src="{{ foto }}" class="myPhoto">
      </div>

      <div class="divDescription">
        <div class="myDescription">
          <p class="description" data-aos="fade-right">{{ descripcion }}</p>
          <button class="btn-minimalist" (click)="avanceObra()">Ver más</button>
        </div>
      </div>

    </div>
  </div>
</section>