.floating-button {
    position: fixed;
    bottom: 20px;
    right: 27px;
    z-index: 1000;
}

.floating-button button {
    background-color: #113a44;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 50px;
    cursor: pointer;
    font-size: 20px;
    width: 45px;
    height: 45px;
}

.bi-chevron-up::before{
    padding-bottom: 6px;
}

@media (max-width: 600px) {
    .floating-button button{
        font-size: 15px;
        width: 35px;
        height: 35px;
    }

    .floating-button {
        right: 23px;
    }
}

