.center{
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.principal{
  width: 80%;
  margin-left: 10%;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  margin-bottom: 10%;
}

.myDescription{
  width: 586px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-right: 30px;
}

.description{
  font-size: 1.5vw;
  color: #003742;
  padding: 20px 20px 20px 0px;
  font-family: "Poppins-Light";
}

.myPhoto{
  width: 60%;
  align-items: center;
}

.photo{
  max-width: 50vw;
  max-height: 35vw;
}

.gallery {
  --z: 450px;  /* Tamaño de Imagen  */
  --s: 450px; /* Tamaño*/
  --g: 240px; /*Separacion*/
  
  display: grid;
  gap: var(--g);
  width: calc(2*var(--s) + var(--g));
  grid-auto-flow: column;
  margin-left: -330px;
}

.gallery > img {
  width: 0;
  min-width: calc(100% + var(--z)/2);
  height: var(--s);
  object-fit: cover;

  cursor: pointer;
  transition: .5s;
}

.gallery > img:hover {
  width: calc(var(--s)/2);
}

.divGlobal{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  text-align: center;
  margin-bottom: 80px;
  flex-wrap: nowrap;
  margin-top: 5%;
}

.divTextTitle{
  width: 80%;
  margin-right: 10%;
  display: flex;
  margin-bottom: 5vw;
}

.divTitle{
  width: 50%;
  display: flex;
  align-items: flex-end;

}

.myTitle{
  font-size: 2.7vw;
  color: #599D9D;
  font-family: "Poppins-Light";
  font-weight: bold;
}

.divDescription{
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.descriptionTitle{
  font-size: 1.2vw;
  color: #599D9D;
  font-family: "Poppins-Light";
  font-weight: bold;
}

@media (max-width: 1024px) {
  .center  {
    width: 100%;
    overflow-y: auto;
  }
}

@media (max-width: 900px) {
  .principal {
    /* Cambia a display: block para colocar myDescription debajo de myPhoto */
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
  }
  .myDescription {
    width: 100% !important;
    order: 2; /* Cambia el orden para que myDescription esté debajo */
  }
  .myPhoto {
    width: 100% !important;
    order: 1; /* Cambia el orden para que myPhoto esté arriba */
  }
}