<div>
    <div class="divGlobal">
        <div class="divTextTitle">
            <div class="divTitle">
                <h1 class="myTitle"><span>Proyectos</span></h1>     
            </div>
            <div class="divDescription">
                <h1 class="descriptionTitle">Fecha</h1>
            </div>
        </div>
    </div>
    <div>
        <div class="principal">
            <div class="myDescription">
                    <h1 class="description">Descripcion</h1>
            </div>

            <div class="myPhoto">
                <div *ngIf="imagenSeleccionada">
                    <img [src]="imagenSeleccionada.url" alt="Imagen seleccionada" class="photo">
                  </div>
            </div>
        </div>

        <div class="center">
            <div class="gallery">
                <img src="{{ imagen.url }}" alt="" (click)="mostrarImagen(imagen)" *ngFor="let imagen of imagenes">
            </div>
        </div>
    </div>

</div>
