<div class="center">
        <div class="divTextTitle">
            <div class="divTitle">
                <h1 class="myTitle"><span>Avance de obra</span></h1>     
            </div>
            <div class="divDescription">
                <h1 class="descriptionTitle">3 de Febrero 2025</h1>
            </div>
        </div>
    <div>
        <div class="principal">
            <div class="myDescription">
                <h1 class="descriptionTitle ">DESCRIPCIÓN</h1>
                    <h1 class="description">Nuestras viviendas se realizan basándose en la construcción tradicional (no prefabricadas) y modulares de hormigón (las únicas con CAT 1) desarrolladas con
                        materiales de excelente calidad 
                       y perdurabilidad.</h1>
            </div>

            <div class="myPhoto">
                <div *ngIf="imagenSeleccionada" class="text-center">
                    <img [src]="imagenSeleccionada.url" alt="Imagen seleccionada" class="photo">
                  </div>
            </div>
        </div>

        <div class="center">
            <div class="gallery">
                <img src="{{ imagen.url }}" alt="" (click)="mostrarImagen(imagen)" *ngFor="let imagen of imagenes">
            </div>
        </div>
    </div>

</div>
