body {
	background-color: #F0F0F0;
}
.mt-10{
	margin-top: 10%;
}
.mt-30{
	margin-top: 30%;
}
.mb-20{
	margin-bottom: 20%;
}
.mb-25{
	margin-bottom: 25%;
}
.mb-30{
	margin-bottom: 30%;
}
.mr-5{
	margin-right: 5%;
}
.mr-10{
	margin-right: 10%;
}

.full-width{
	width: -webkit-fill-available;
}

@font-face {
	font-family: "Chivo";
	src: url("../assets/Fuentes/Chivo-VariableFont_wght.ttf");
}

@font-face {
	font-family: "Poppins-Light";
	src: url("../assets/Fuentes/Poppins-Light.ttf");
}

@font-face {
	font-family: "Poppins-SemiBold";
	src: url("../assets/Fuentes/Poppins-SemiBold.ttf");
}

@font-face {
	font-family: "Poppins-Black";
	src: url("../assets/Fuentes/Poppins-Black.ttf");
}

@font-face {
	font-family: "KGWhattheTeacherWants";
	src: url("../assets/Fuentes/KGWhattheTeacherWants.ttf");
}