<div class="myCenter">

    <div class="divGlobal">
        <div class="divTextTitle">
            <div class="divTitle">
                <h1 class="myTitle"><span>Proyectos</span></h1>     
            </div>
            <div class="divDescription">
                <h1 class="descriptionTitle">Departamentos</h1>
            </div>
        </div>
    </div>

    <div class="firtsDiv">
        <div class="divCards">
            <!-- Si se quiere hacer la animacion, agregar clase animated -->
            <div class="wpb_animate_when_almost_visible wpb_start_animation bounceInLeft myCard text-center"> 
                <div>
                    <img src="https://terraz.com.ar/content/prototipos/b4982d92-73f1-447e-ae55-6866469b45f1.jpg" alt="" class="photo">
                </div>
                
                <div class="text">
                    <div class="left">
                        <h1 class="title">3 de Febrero</h1>
                    </div>
                    <div class="left">
                        <button class="myButton" routerLink="/detalles">Ver más</button>
                        <!-- <h1 class="description">descripcion chica</h1> -->
                    </div>
                </div>
            </div>
    
            <div class="wpb_animate_when_almost_visible wpb_start_animation bounceInDown myCard text-center">
                <div>
                    <img src="https://terraz.com.ar/content/prototipos/23ebb402-d1b6-4c46-b8ce-5c550b69d5bb.jpg" alt="" class="photo">
                </div>

                <div class="text">
                    <div class="left">
                        <h1 class="title">Eco Pueblo</h1>
                    </div>
                    <div class="left">
                        <button class="myButton" routerLink="/detalles">Ver más</button>

                        <!-- <h1 class="description">descripcion chica</h1> -->
                    </div>
                </div>
            </div>
    
            <div class="wpb_animate_when_almost_visible wpb_start_animation bounceInRight myCard text-center">
                <div>
                    <img src="https://terraz.com.ar/content/prototipos/6538e98a-f72a-45f1-a5d0-457de9bbc6a7.jpg" alt="" class="photo">
                </div>
                
                <div class="text">
                    <div class="left">
                        <h1 class="title">Elorza</h1>
                    </div>
                    <div class="left">
                        <button class="myButton" routerLink="/detalles">Ver más</button>

                        <!-- <h1 class="description">descripcion chica</h1> -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="secondDiv">
        <div class="divCards2">
            <div class="wpb_animate_when_almost_visible wpb_start_animation bounceInLeft myCard text-center">
                <div>
                    <img src="https://terraz.com.ar/content/prototipos/b2845ffb-4acd-4918-9395-6d62a75ec361.jpg" alt="" class="photo">
                </div>
                
                <div class="text">
                    <div class="left">
                        <h1 class="title">Funes Norte</h1>
                    </div>
                    <div class="left">
                        <button class="myButton" routerLink="/detalles">Ver más</button>

                        <!-- <h1 class="description">descripcion chica</h1> -->
                    </div>
                </div>
            </div>
    
            <div class="wpb_animate_when_almost_visible wpb_start_animation bounceInUp myCard text-center">
                <div>
                    <img src="https://terraz.com.ar/content/prototipos/c68f76e6-6ee9-415d-98a0-f8d0a20b44c6.jpg" alt="" class="photo">
                </div>
                
                <div class="text">
                    <div class="left">
                        <h1 class="title">Laprida</h1>
                    </div>
                    <div class="left">
                        <!-- <h1 class="description">descripcion chica</h1> -->
                    </div>
                </div>
            </div>
    
            <div class="wpb_animate_when_almost_visible wpb_start_animation bounceInRight myCard text-center" >
                <div>
                    <img src="https://terraz.com.ar/content/prototipos/ab1e0a71-5e09-4903-a80a-8941d604acab.jpg" alt="" class="photo">
                </div>

                <div class="text">
                    <div class="left">
                        <h1 class="title">Taka 1</h1>
                    </div>
                    <div class="left">
                        <button class="myButton" routerLink="/detalles">Ver más</button>

                        <!-- <h1 class="description">descripcion chica</h1> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>