<nav class="navbar" id="navbar" style="margin-bottom: 20px;">
  <div class="myNav">

    <div class="divLogo">
      <a href="#" class="navbar-logo"><img src="../../../assets/Imagenes/logo-blanco.png" alt="" class="myIcon"></a>
    </div>

    <div class="divText">

      <ul class="navbar-links">
        <li class="navbar-dropdown">
          <a href="#descubri" class="myText">DESARROLLOS</a>
        </li>
        <li class="navbar-dropdown">
          <a routerLink="/proyectos" class="myText">PROYECTOS</a>
        </li>
        <li class="navbar-dropdown">
          <a href="#descubri" class="myText">SEGUINOS</a>
        </li>
      </ul>

    </div>

    <div class="divContact">
      <a href="https://api.whatsapp.com/send?phone=+5493413816505&text=Hola%20mensaje%20aquí" target="_blank" class="myText contact">CONTACTANOS</a>
    </div>

    <div class="menu-collapse">
      <button
        type="button"
        class="btn btn-outline-primary button-collapse"
        (click)="collapse.toggle()"
        [attr.aria-expanded]="!isCollapsed"
        aria-controls="collapseExample"
      >
      <i class="bi bi-list"></i>
      </button>

    </div>

    <div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed" class="full-width">
      <div class="card">
        <div class="card-body">
          <ul class="menu-items-collapse">
            <li class="navbar-dropdown">
              <a href="#about" class="myText">DESARROLLOS</a>
            </li>
            <li class="navbar-dropdown">
              <a href="#descubri" class="myText">PROYECTOS</a>
            </li>
            <li class="navbar-dropdown">
              <a href="#descubri" class="myText">SEGUINOS</a>
            </li>
            <li>
              <a href="https://api.whatsapp.com/send?phone=+5493413816505&text=Hola%20mensaje%20aquí" target="_blank" class="myText contact">CONTACTANOS</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

  </div>

</nav>