<nav class="navbar" id="navbar" style="margin-bottom: 20px;">
  <div class="myNav">

    <div class="divLogo">
      <a href="#" class="navbar-logo"><img src="../../../assets/Imagenes/logohome.png" alt="" class="myIcon"></a>
    </div>

    <div class="divText">

      <ul class="navbar-links">
        <li class="navbar-dropdown">
          <a href="#about" class="myText">DESARROLLOS</a>
        </li>
        <li class="navbar-dropdown">
          <a href="#descubri" class="myText">PROYECTOS</a>
        </li>
        <li class="navbar-dropdown">
          <a href="#descubri" class="myText">SEGUINOS</a>
        </li>
      </ul>

    </div>

    <div class="divContact">
      <a href="#descubri" class="myText contact">CONTACTANOS</a>
    </div>

  </div>

  </nav>


