<div class="myCenter" id="descubri">
    
    <div class="divTitle">
        <div>
            <h1 class="titleHead"><span>Somos Terraz</span></h1>     
        </div>
        <div>
            <h1 class="descriptionHead">NUESTRA EMPRESA</h1>
        </div>

    </div>

<div class="myCenter">

    <!-- INICIO PRIMERO -->
    <div class="divDescubri">
        <div class="divPhoto">
            <!-- <img src="../../assets/Imagenes/terrenos-copia.png" alt="" class="myImg"> -->
            <div class="contenedor-pelota borde-terrenos">
                <div class="pelota pelota-terrenos"></div>
            </div>
        </div>
        <div class="divTitleCard">
            <h1 class="myTitleCard" #terrenosElement [ngClass]="{'slide-left animate': terrenosVisible}" [style.opacity]="terrenosVisible ? 1 : 0">Terrenos a construír</h1>
        </div>
        <div class="divDescription">
            <h1 class="myDescription">Contamos con desarrollos en Funes, Ybarluces, Arroyo Seco, Granadero Baigorria, Pueblo Esther y muchas locaciones mas para que elija al que se adapte a tus necesidades</h1>
        </div>
        <div class="divIcon">
            <button style="background-color: transparent; border: 0px;" (click)="open(content)"><i class="bi bi-plus-circle myIcon"></i></button>
        </div>
    </div>

    <!-- INICIO SEGUNDO -->
    <div class="divDescubri">
        <div class="divPhoto">
            <!-- <img src="../../assets/Imagenes/profesionales-copia.png" alt="" class="myImg"> -->
            <div class="contenedor-pelota borde-profesionales">
                <div class="pelota pelota-profesionales"></div>
            </div>
        </div>
        <div class="divTitleCard">
            <h1 class="myTitleCard" #profesionalesElement [ngClass]="{'slide-left animate': profesionalesVisible}" [style.opacity]="profesionalesVisible ? 1 : 0">Profesionales de Terraz</h1>
        </div>
        <div class="divDescription">
            <h1 class="myDescription">Nuestro equipo está conformado con ingenieros, arquitectos, diseñadores y constructores, los cuales desarrollan más de 30 modelos de viviendas pensando en su funcionalidad, comodidad y con potencialidad de crecimiento a futuro.</h1>
        </div>

        <div class="divIcon">
            <!-- <i class="bi bi-plus-circle myIcon"></i> -->
        </div>
    </div>

    <!-- INICIO TERCERO -->
    <div class="divDescubri">
        <div class="divPhoto">
            <!-- <img src="../../assets/Imagenes/servicios-copia.png" alt="" class="myImg"> -->
            <div class="contenedor-pelota borde-servicios">
                <div class="pelota pelota-servicios"></div>
            </div>
        </div>
        <div class="divTitleCard">
            <h1 class="myTitleCard" #materialesElement [ngClass]="{'slide-left animate': materialesVisible}" [style.opacity]="materialesVisible ? 1 : 0">Materiales de construcción</h1>
        </div>
        <div class="divDescription">
            <h1 class="myDescription">Nuestras viviendas se realizan basándose en la construcción tradicional (no prefabricadas) y modulares de hormigón (las únicas con CAT 1) desarrolladas con materiales de excelente calidad y perdurabilidad.</h1>
        </div>

        <div class="divIcon">
            <!-- <i class="bi bi-plus-circle myIcon"></i> -->
        </div>
    </div>
    

    <!-- INICIO CUARTO -->
    <div class="divDescubri">
        <div class="divPhoto">
            <!-- <img src="../../assets/Imagenes/materiales-copia.png" alt="" class="myImg"> -->
            <div class="contenedor-pelota borde-matariales">
                <div class="pelota pelota-matariales"></div>
            </div>
        </div>
        <div class="divTitleCard">
            <h1 class="myTitleCard" #serviciosElement [ngClass]="{'slide-left animate': serviciosVisible}" [style.opacity]="serviciosVisible ? 1 : 0">Servicios <br>prestados</h1>
        </div>
        <div class="divDescription">
            <h1 class="myDescription">Todas las viviendas cuentan con cloacas, agua corriente, gas natural, electricidad, alumbrado público y demás servicios básicos destinados a asegurar tu comodidad y la de tu familia.</h1>
        </div>

        <div class="divIcon">
            <!-- <i class="bi bi-plus-circle myIcon"></i> -->
        </div>
    </div>

</div>
</div>

<ng-template #content let-c="close" let-d="dismiss">
    <button type="button" class="btn-close btn-cerrar-mapa" aria-label="Close" (click)="d('Cross click')"></button>
    
	<div class="modal-body">

		<google-map
            width="100%"
            [zoom]="zoom"
            [center]="center"
            [zoom]="zoom">
        </google-map>

	</div>
</ng-template>


