<div class="myCenter" id="descubri">
    
    <div class="divTitle">
        <div>
            <h1 class="titleHead"><span>Somos Terraz</span></h1>     
        </div>
        <div>
            <h1 class="descriptionHead">NUESTRA EMPRESA</h1>
        </div>

    </div>
<div class="myCenter margin-top-5">

    <!-- INICIO PRIMERO -->
    <div class="divDescubri">
        <div class="divPhoto">
            <img src="../../assets/Imagenes/terrenos-copia.png" alt="" class="myImg">
        </div>
        <div class="divTitleCard">
            <h1 class="myTitleCard" #terrenosElement [ngClass]="{'slide-left animate': terrenosVisible}" [style.opacity]="terrenosVisible ? 1 : 0">Terrenos</h1>
        </div>
        <div class="divDescription">
            <h1 class="myDescription">Contamos con desarrollos en Funes, Ybarlucea, Arroyo Seco, Granadero Baigorria, Pueblo Esther y muchas locaciones más para que elijas el que más se adapte a tus necesidades.</h1>
        </div>
        <div class="divIcon">
            <button style="background-color: transparent; border: 0px;" (click)="open(content)"><i class="bi bi-plus-circle myIcon"></i></button>
            
        </div>
    </div>


    <!-- INICIO SEGUNDO -->
    <div class="divDescubri">
        <div class="divPhoto">
            <img src="../../assets/Imagenes/profesionales-copia.png" alt="" class="myImg">
        </div>
        <div class="divTitleCard">
            <h1 class="myTitleCard" #profesionalesElement [ngClass]="{'slide-left animate': profesionalesVisible}" [style.opacity]="profesionalesVisible ? 1 : 0">Profesionales</h1>
        </div>
        <div class="divDescription">
            <h1 class="myDescription">Nuestro equipo está conformado con ingenieros, arquitectos, diseñadores y constructores, los cuales desarrollan más de 30 modelos de viviendas pensando en su funcionalidad, comodidad y con potencialidad de crecimiento a futuro.</h1>
        </div>

        <div class="divIcon">
            <!-- <i class="bi bi-plus-circle myIcon"></i> -->
        </div>
    </div>

    <!-- INICIO TERCERO -->
    <div class="divDescubri">
        <div class="divPhoto">
            <img src="../../assets/Imagenes/materiales-copia.png" alt="" class="myImg">
        </div>
        <div class="divTitleCard">
            <h1 class="myTitleCard" #materialesElement [ngClass]="{'slide-left animate': materialesVisible}" [style.opacity]="materialesVisible ? 1 : 0">Materiales</h1>
        </div>
        <div class="divDescription">
            <h1 class="myDescription">Nuestras viviendas se realizan basándose en la construcción tradicional (no prefabricadas) y modulares de hormigón (las únicas con CAT 1) desarrolladas con materiales de excelente calidad y perdurabilidad.</h1>
        </div>

        <div class="divIcon">
            <!-- <i class="bi bi-plus-circle myIcon"></i> -->
        </div>
    </div>

    <!-- INICIO CUARTO -->
    <div class="divDescubri">
        <div class="divPhoto">
            <img src="../../assets/Imagenes/servicios-copia.png" alt="" class="myImg">
        </div>
        <div class="divTitleCard">
            <h1 class="myTitleCard" #serviciosElement [ngClass]="{'slide-left animate': serviciosVisible}" [style.opacity]="serviciosVisible ? 1 : 0">Servicios</h1>
        </div>
        <div class="divDescription">
            <h1 class="myDescription">Todas las viviendas cuentan con cloacas, agua corriente, gas natural, electricidad, alumbrado público y demás servicios básicos destinados a asegurar tu comodidad y la de tu familia.</h1>
        </div>

        <div class="divIcon">
            <!-- <i class="bi bi-plus-circle myIcon"></i> -->
        </div>
    </div>

    
</div>
</div>

<ng-template #content let-c="close" let-d="dismiss">
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">Hi there!</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
	</div>
	<div class="modal-body">
		<p>Hello, World!</p>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-outline-dark" (click)="c('Save click')">Save</button>
	</div>
</ng-template>


