.myCenter{
    width: 100%;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

/* INICIO DE TITULO */

.divTitle{
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.titleHead{
    font-size: 2.7vw;
    color: #599D9D;
    font-family: "Poppins-Light";
}
.descriptionHead{
    font-size: 1.2vw;
    color: #599D9D;
    font-family: "Poppins-Light";
}
.myTitle{
    font-size: 50px;
    font-family: "Chivo","Raleway", sans-serif;
    font-weight: bold;
    color: #003742;

    width: 80%;
    margin-top: 4%;

    border-bottom: 1px solid grey; 
    line-height: 0.1em;

}
.myTitle span { 
    background:white; 
    padding:0 5px; 
}

/* FIN TITULO */

/* INICIO DESCUBRI */
.divDescubri{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 45px 0px 80px 0px;
}

.divPhoto{
    width: 5%;
}
.divTitleCard{
    width: 30%;
}
.divDescription{
    width: 60%;
}
.divIcon{
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.divTitlePhoto{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.titlePhoto{
    font-size: 13px;
    color: white;
    opacity: 85%;
    font-family: "Chivo","Raleway", sans-serif;
    font-weight: bold;
}
.myImg{
    width: 200px;
    height: 200px;
}
.myTitleCard{
    font-size: 1.8vw;
    color: #003742;
    padding-left: 3vw;
    font-family: "Poppins-Light";
}
.myDescription{
    font-size: 1.5vw;
    color: #003742;
    text-align: inherit;
    font-weight: 150;
    font-family: "Poppins-Light";
}
.myIcon{
    font-size: 26px; 
    color: #003742;
}
/* FIN DESCUBRI */

.margin-top-5{
    margin-top: 5%;
}


/* COMIENZO DE LOS WIDHT */
.w-5{
    width: 5% ;
}
.w-10{
    width: 10% ;
}
.w-15{
    width: 15% ;
}
.w-20{
    width: 20% ;
}
.w-25{
    width: 25% ;
}
.w-30{
    width: 30% ;
}
.w-50{
    width: 50% ;
}
.w-60{
    width: 60% ;
}
.w-70{
    width: 70% ;
}

/* FIN DE LOS WIDTH */

/* COMIENZO EFECTOS */

.slide-left { 
    animation-name: animate-slide-left; 
}
.animate {
    animation-duration: .5s;
    animation-timing-function: cubic-bezier(.26, .53, .74, 1.48);
    animation-delay: .5s;
    animation-fill-mode: backwards;
  }

@keyframes animate-slide-left {
  0% {
    opacity: 0;
    transform: translate(-200px, 0);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

.btn-cerrar-mapa{
    position: absolute;
    top: 15px;
    left: 15px;
    z-index: 2;
    color: white;
    font-size: x-large;
    background-color: gray;
}

.modal-body{
    padding: 0;
}

.contenedor-pelota {
    width: 3vw;
    height: 3vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
}

.pelota{
    width: 1.8vw;
    height: 1.8vw;
    border-radius: 50%;
}

.borde-terrenos{
    border: 1.5px solid #003742;
}
.pelota-terrenos {
    background-color: #003742;
}

.borde-profesionales{
    border: 1.52px solid #039E9E;
}



.contenedor-pelota-profesionales {
    width: 3vw;
    height: 3vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid #039E9E;
}
.pelota-profesionales {
    background-color: #039E9E;;
}

.borde-matariales{
    border: 1.5px solid #019246;
}

.pelota-matariales {
    background-color: #019246;
}

.borde-servicios{
    border: 1.5px solid #F5921E;
}



.contenedor-pelota-servicios {
    width: 3vw;
    height: 3vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid #F5921E;
}
.pelota-servicios {
    background-color: #F5921E;
}
