<div class="myCenter" id="descubri">
    
    <div class="divTitle">
        <div>
            <h1 class="titleHead"><span>Somos Terraz</span></h1>     
        </div>
        <div>
            <h1 class="descriptionHead">NUESTRA EMPRESA</h1>
        </div>

    </div>

<div class="myCenter margin-top-5">

    <!-- INICIO PRIMERO -->
    <div class="divDescubri">
        <div class="divPhoto">
            <!-- <img src="../../assets/Imagenes/terrenos-copia.png" alt="" class="myImg"> -->
            <div class="contenedor-pelota">
                <div class="pelota-terrenos"></div>
            </div>
        </div>
        <div class="divTitleCard">
            <h1 class="myTitleCard" #terrenosElement [ngClass]="{'slide-left animate': terrenosVisible}" [style.opacity]="terrenosVisible ? 1 : 0">Asesoramiento Personallizado</h1>
        </div>
        <div class="divDescription">
            <h1 class="myDescription">Esperando Texto.</h1>
        </div>
        <div class="divIcon">
            <button style="background-color: transparent; border: 0px;" (click)="open(content)"><i class="bi bi-plus-circle myIcon"></i></button>
        </div>
    </div>

    <!-- INICIO SEGUNDO -->
    <div class="divDescubri">
        <div class="divPhoto">
            <!-- <img src="../../assets/Imagenes/profesionales-copia.png" alt="" class="myImg"> -->
            <div class="contenedor-pelota">
                <div class="pelota-profesionales"></div>
            </div>
        </div>
        <div class="divTitleCard">
            <h1 class="myTitleCard" #profesionalesElement [ngClass]="{'slide-left animate': profesionalesVisible}" [style.opacity]="profesionalesVisible ? 1 : 0">Profesionales</h1>
        </div>
        <div class="divDescription">
            <h1 class="myDescription">Esperando Texto.</h1>
        </div>

        <div class="divIcon">
            <!-- <i class="bi bi-plus-circle myIcon"></i> -->
        </div>
    </div>

    <!-- INICIO TERCERO -->
    <div class="divDescubri">
        <div class="divPhoto">
            <!-- <img src="../../assets/Imagenes/servicios-copia.png" alt="" class="myImg"> -->
            <div class="contenedor-pelota">
                <div class="pelota-servicios"></div>
            </div>
        </div>
        <div class="divTitleCard">
            <h1 class="myTitleCard" #serviciosElement [ngClass]="{'slide-left animate': serviciosVisible}" [style.opacity]="serviciosVisible ? 1 : 0">Servicios</h1>
        </div>
        <div class="divDescription">
            <h1 class="myDescription">Esperando Texto.</h1>
        </div>

        <div class="divIcon">
            <!-- <i class="bi bi-plus-circle myIcon"></i> -->
        </div>
    </div>

    <!-- INICIO CUARTO -->
    <div class="divDescubri">
        <div class="divPhoto">
            <!-- <img src="../../assets/Imagenes/materiales-copia.png" alt="" class="myImg"> -->
            <div class="contenedor-pelota">
                <div class="pelota-matariales"></div>
            </div>
        </div>
        <div class="divTitleCard">
            <h1 class="myTitleCard" #materialesElement [ngClass]="{'slide-left animate': materialesVisible}" [style.opacity]="materialesVisible ? 1 : 0">Materiales</h1>
        </div>
        <div class="divDescription">
            <h1 class="myDescription">Esperando Texto.</h1>
        </div>

        <div class="divIcon">
            <!-- <i class="bi bi-plus-circle myIcon"></i> -->
        </div>
    </div>

    
</div>
</div>

<ng-template #content let-c="close" let-d="dismiss">
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">Hi there!</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
	</div>
	<div class="modal-body">
		<p>Hello, World!</p>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-outline-dark" (click)="c('Save click')">Save</button>
	</div>
</ng-template>


